@model Polyclinic.Models.Patient

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PolyclinicUserID" class="control-label"></label>
                <select asp-for="PolyclinicUserID" class ="form-control" asp-items="ViewBag.PolyclinicUserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PolisID" class="control-label"></label>
                <select asp-for="PolisID" class ="form-control" asp-items="ViewBag.PolisID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SnilsNumber" class="control-label"></label>
                <input asp-for="SnilsNumber" class="form-control" />
                <span asp-validation-for="SnilsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPlace" class="control-label"></label>
                <input asp-for="WorkPlace" class="form-control" />
                <span asp-validation-for="WorkPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
